$steps_primary_blue: #155D97;


label{
    span{
        color: red;
    }
}


.id, .tel{
    width: 100%;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    label{
        display: inline-block;
    }
    .row{
        position: relative;
        display: flex;
        flex-direction: row;
        height: 2rem;
        select{
        height: 100%;
        // width: 4.5rem;
        margin-right: 1rem;
        margin-top: 0.2rem;
    }
        input{
            margin: 0;
            width: 100%;
            opacity: 0.4;
            font-size: 0.7rem;
            color: black;
            height: 2rem;
            padding-left: 0.7rem;
            // border: solid $light_grey;
            border-radius: 0.2rem;
        }

    }
    
}

.skip{
    margin: 0;
    text-align: center;
    color: $steps_primary_blue;
    text-decoration: none;
    font-size: 0.8rem;
    margin: 0.8rem 0;
}
